<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover, user-scalable=no">
    <meta name="robots" content="noindex">
    <title>Reese(リサ) and Cyrus(カイゾー) Wedding Photos</title>

    <link defer href="assets/css/style.css"
          rel="stylesheet"
          rel="preload"
          as="style"
          media="all">
  </head>

  <body class="font-default antialiased text-gray-100">
    <y class="bg-green-400">
      <y class="container-xl m-auto">
        <y class="(xs)px-4 flex flex-col items-center">
          <y class="pb-10 pt-2 (lg)text-5xl (md)text-3xl (xs)text-xl animation fade-in-up">
            Reese(リサ) and Cyrus(カイゾー) Wedding Photos
          </y>
        </y>

        <y class="flex (md)flex-row (xs)flex-col flex-gap-2 mb-2">
          <y class="p-5 flex-auto (xs)flex-col (sm)flex-row bg-white rounded shadow-dreamy">
            <y class="text-2xl mb-2 text-gray-600">6/01</y>
            <img class="image-optimize-crisp rounded" src="./assets/image/high/01.jpg">
          </y>
          <y class="p-5 flex-auto (xs)flex-col (sm)flex-row bg-white rounded shadow-dreamy">
            <y class="text-2xl mb-2 text-gray-600">6/02</y>
            <img class="image-optimize-crisp rounded" src="./assets/image/high/02.jpg">
          </y>
          <y class="p-5 flex-auto (xs)flex-col (sm)flex-row bg-white rounded shadow-dreamy">
            <y class="text-2xl mb-2 text-gray-600">6/03</y>
            <img class="image-optimize-crisp rounded" src="./assets/image/high/03.jpg">
          </y>
        </y>

        <y class="flex (md)flex-row (xs)flex-col flex-gap-2 mb-2">
          <y class="flex flex-4 flex-col">
            <y class="p-5 mb-2 bg-white rounded shadow-dreamy">
              <y class="text-2xl mb-2 text-gray-600">6/04</y>
              <img class="image-optimize-crisp rounded" src="./assets/image/high/04.jpg">
            </y>
            <y class="p-5 bg-white rounded shadow-dreamy">
              <y class="text-2xl mb-2 text-gray-600">6/06</y>
              <img class="image-optimize-crisp rounded" src="./assets/image/high/06.jpg">
            </y>
          </y>

          <y class="p-5 flex-8 (xs)flex-col (sm)flex-row bg-white rounded shadow-dreamy">
            <y class="text-2xl mb-2 text-gray-600">6/05</y>
            <img class="image-optimize-crisp rounded" src="./assets/image/high/05.jpg">
          </y>
        </y>

        <y class="flex (md)flex-row (xs)flex-col flex-gap-2 mb-2">
          <y class="flex flex-3 flex-col">
            <y class="p-5 mb-2 bg-white rounded shadow-dreamy">
              <y class="text-2xl mb-2 text-gray-600">6/07</y>
              <img class="image-optimize-crisp rounded" src="./assets/image/high/07.jpg">
            </y>
            <y class="p-5 bg-white rounded shadow-dreamy">
              <y class="text-2xl mb-2 text-gray-600">6/08</y>
              <img class="image-optimize-crisp rounded" src="./assets/image/high/08.jpg">
            </y>
          </y>
          <y class="p-5 flex-6 flex-row bg-white rounded shadow-dreamy">
            <y class="text-2xl mb-2 text-gray-600">6/09</y>
            <img class="image-optimize-crisp rounded" src="./assets/image/high/09.jpg">
          </y>
          <y class="flex flex-3 flex-col">
            <y class="p-5 mb-2 bg-white rounded shadow-dreamy">
              <y class="text-2xl mb-2 text-gray-600">6/10</y>
              <img class="image-optimize-crisp rounded" src="./assets/image/high/10.jpg">
            </y>
            <y class="p-5 bg-white rounded shadow-dreamy">
              <y class="text-2xl mb-2 text-gray-600">6/11</y>
              <img class="image-optimize-crisp rounded" src="./assets/image/high/11.jpg">
            </y>
          </y>
        </y>

        <y class="flex (md)flex-row (xs)flex-col flex-gap-2 mb-2">
          <y class="p-5 flex-auto (xs)flex-col (sm)flex-row bg-white rounded shadow-dreamy">
            <y class="text-2xl mb-2 text-gray-600">6/12</y>
            <img class="image-optimize-crisp rounded" src="./assets/image/high/12.jpg">
          </y>
          <y class="p-5 flex-auto (xs)flex-col (sm)flex-row bg-white rounded shadow-dreamy">
            <y class="text-2xl mb-2 text-gray-600">6/13</y>
            <img class="image-optimize-crisp rounded" src="./assets/image/high/13.jpg">
          </y>
        </y>

        <y class="flex (md)flex-row (xs)flex-col flex-gap-2 mb-2">
          <y class="p-5 flex-auto (xs)flex-col (sm)flex-row bg-white rounded shadow-dreamy">
            <y class="text-2xl mb-2 text-gray-600">6/14</y>
            <img class="image-optimize-crisp rounded" src="./assets/image/high/14.jpg">
          </y>
          <y class="p-5 flex-auto (xs)flex-col (sm)flex-row bg-white rounded shadow-dreamy">
            <y class="text-2xl mb-2 text-gray-600">6/15</y>
            <img class="image-optimize-crisp rounded" src="./assets/image/high/15.jpg">
          </y>
        </y>

        <y class="flex (md)flex-row (xs)flex-col flex-gap-2 mb-2">
          <y class="flex flex-3 flex-col">
            <y class="p-5 mb-2 bg-white rounded shadow-dreamy">
              <y class="text-2xl mb-2 text-gray-600">6/16</y>
              <img class="image-optimize-crisp rounded" src="./assets/image/high/16.jpg">
            </y>
            <y class="p-5 mb-2 bg-white rounded shadow-dreamy">
              <y class="text-2xl mb-2 text-gray-600">6/17</y>
              <img class="image-optimize-crisp rounded" src="./assets/image/high/17.jpg">
            </y>
            <y class="p-5 bg-white rounded shadow-dreamy">
              <y class="text-2xl mb-2 text-gray-600">6/18</y>
              <img class="image-optimize-crisp rounded" src="./assets/image/high/18.jpg">
            </y>
          </y>

          <y class="p-5 flex-9 (xs)flex-col (sm)flex-row bg-white rounded shadow-dreamy">
            <y class="text-2xl mb-2 text-gray-600">6/19</y>
            <img class="image-optimize-crisp rounded" src="./assets/image/high/19.jpg">
          </y>
        </y>

      </y>

      <y class="bg-khaki-800">
        <y class="container-xl m-auto">
          <y class="flex flex-gap-2 justify-center content-center p-8 mt-5">
            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-related="gggooottto" data-show-count="false">Tweet</a>
            <a href="https://twitter.com/gggooottto?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @gggooottto</a>
            <a class="github-button" href="https://github.com/YutaGoto/AnimalCrossingJuneBridePhotos2020" data-color-scheme="no-preference: light; light: light; dark: dark;" data-size="large" aria-label="Star YutaGoto/AnimalCrossingJuneBridePhotos2020 on GitHub">Star</a>
          </y>
        </y>
      </y>
    </y>

    <!-- Responsive Screen Indicator -->
    <y debug="screen" class="m-1"></y>

    <!-- End Example -->

    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script src="assets/js/app.js"></script>
  </body>

</html>
